@import "../../../../styles/base/main.scss";
@import "../../../../styles/modules/list.scss";

.list {
  @extend %list-item;


  &__avatar {
    flex: 0 0 21px;
    margin-right: $gutter-component;
  }
  &__info {
    flex: 1;
  }
}
