@import "../../../../styles/base/main.scss";
@import "../../../../styles/modules/list.scss";

.list {
  @extend %list-item;

  &__avatar {
    flex: 0 0 60px;
    margin-right: $gutter-component;

    img {
      width: 100%;
      height: 100%;
      box-shadow: $box-shadow-1;
      border-radius: $border-radius-component;
    }

    &_empty {
      background: url("../../../../styles/images/role.png");
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &_email {
      font-style: italic;
    }
  }
}
