@import "../base/palette.scss";
@import "../base/background-color.scss";

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  margin: 0;
  padding: 0 !important;
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
input {
  font-family: "Roboto", sans-serif;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  background-color: #e7eaf1 !important;
}

##{$app-id}root {
  width: 100%;
  height: 100%;
  position: absolute;
}

.scrollbar {
  overflow: auto;
  overflow-y: overlay !important;
  overflow-x: overlay !important;
  &:focus {
    outline: none;
  }
}

.scrollbar::-webkit-scrollbar,
body::-webkit-scrollbar {
  border-right: 1px solid $background-color-lv4;
  width: 3px;
  height: 3px;
}

.scrollbar::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.61);
}

.scrollbar:hover::-webkit-scrollbar,
body:hover::-webkit-scrollbar {
  background-color: $background-color-lv4;
}

.scrollbar:hover::-webkit-scrollbar,
body:hover::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.ReactVirtualized__Grid {
  outline: none;
}