@import "../../../../styles/base/main.scss";
@import "../../../../styles/modules/list.scss";

.actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: $border-radius-component;
}
.actions--blocking {
  justify-content: center;
}

.form {
  padding-top: $gutter-component;
}

.divider {
  height: 28px;
}
.select {
  font-size: 16px;
}
